body{
    background-color: black;
}

header{
    margin-top: 0px;
}

.inline{
    display: inline;
}

.marl{
    margin-left: 30%;
}

.marle{
    margin-left: 10%;
}

.coly{
    background-color: yellow;
}